@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import './assets/vendor/bootstrap/css/bootstrap.min.css';
@import './assets/vendor/font-awesome/css/font-awesome.min.css';
@import './assets/vendor/bootstrap-select/css/bootstrap-select.min.css';
@import './assets/vendor/owl.carousel/assets/owl.carousel.css';
@import './assets/vendor/owl.carousel/assets/owl.theme.default.css';
@import './assets/css/custom.css';
@import './assets/css/style.default.css';
@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,700';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

#ex4 .p1[data-count]:after {
  position: absolute;
  right: 10%;
  top: 8%;
  content: attr(data-count);
  font-size: 40%;
  padding: .2em;
  border-radius: 50%;
  line-height: 1em;
  color: white;
  background: rgba(255, 0, 0, .85);
  text-align: center;
  min-width: 1em;
  font-weight: bold;
}

.invalid-feedback {
  color: #f15b55;
  font-style: italic;
  font-size: 13px;
  margin-bottom: -17px;
  margin-top: 0;
  display: block;
  font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

html,
body {
  height: 100%;
  margin: 0;
}

.wrapper {
  min-height: 60%;
  margin-bottom: -50px;
}

.cart-box {
  position: fixed;
  bottom: 40px;
  right: 30px;
  width: 48px;
  height: 48px;
  z-index: 2147483000;
  cursor: pointer;
  background-position: 50%;
}

.cart-items-count {
  position: relative;
  display: flex;
  text-align: center;
  justify-content: center;
  top: -55px;
}

.notification-counter {
  position: absolute;
  left: 25px;
  background-color: rgba(212, 19, 13, 1);
  color: #fff;
  border-radius: 3px;
  padding: 1px 3px;
  font: 0.8em Verdana;
  top: 20px;
}

.main-footer {
  padding: 0px !important;
}

.pointer {
  cursor: pointer;
}

a:not([href]):not([tabindex]):focus,
a:not([href]):not([tabindex]):hover {
  color: #00f8c6 !important;
}

.activeHref {
  color: #4fbfa8 !important;
}

.dropdown-item.active,
.dropdown-item:active {
  width: 20em !important;
}

table input[type="number"] {
  max-width: 60px;
}

.customFont {
  font-size: 13px;
}

.table {
  margin-bottom: 0rem !important;
}

.mat-expansion-panel {
  border: 1px solid #e1e4e8;
}

.table thead th {
  border-bottom: none;
}

.mat-expansion-panel-header {
  padding: 0 20px 0 5px !important;
}

.fix-side-mat-table {
  padding: 0 6%;
}

.ribbon.soldout {
  background: #c52d2d;
}

.ribbon {
  width: 90px !important;
}

mat-expansion-panel-header {
  font-size: 0.85em;
}

/* footer css*/
footer .main-footer .copyrights {
  padding: 20px 0;
  background: #333;
  color: #ccc;
  margin-top: -30px;
}

/* css error page*/
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#notfound {
  position: relative;
  height: 30em;
}

#notfound .notfound {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.notfound {
  max-width: 767px;
  width: 100%;
  line-height: 1.4;
  text-align: center;
  padding: 15px;
}

.notfound .notfound-404 {
  position: relative;
  height: 220px;
}

.notfound .notfound-404 h1 {
  font-family: 'Kanit', sans-serif;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 186px;
  font-weight: 200;
  margin: 0px;
  background: linear-gradient(130deg, #abffee, #4fbfa8);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  text-transform: uppercase;
}

.notfound h2 {
  font-family: 'Kanit', sans-serif;
  font-size: 33px;
  font-weight: 200;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 25px;
  letter-spacing: 3px;
}

.notfound p {
  font-family: 'Kanit', sans-serif;
  font-size: 16px;
  font-weight: 200;
  margin-top: 0px;
  margin-bottom: 25px;
}

.notfound a {
  font-family: 'Kanit', sans-serif;
  color: #4fbfa8;
  font-weight: 200;
  text-decoration: none;
  border-bottom: 1px dashed #4fbfa8;
  border-radius: 2px;
}

.notfound-social>a {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  width: 40px;
  font-size: 14px;
  color: #4fbfa8;
  border: 1px solid #efefef;
  border-radius: 50%;
  margin: 3px;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.notfound-social>a:hover {
  color: #fff;
  background-color: #4fbfa8;
  border-color: #4fbfa8;
}

@media only screen and (max-width: 480px) {
  .notfound .notfound-404 {
    position: relative;
    height: 168px;
  }

  .notfound .notfound-404 h1 {
    font-size: 142px;
  }

  .notfound h2 {
    font-size: 22px;
  }
}

/*custom font*/
* {
  margin: 0;
  padding: 0;
}

/*breakcrumb css*/
.breadcrumb {
  display: inline-block;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.35);
  overflow: hidden;
  border-radius: 5px;
  counter-reset: flag;
  padding: initial !important;
}

.breadcrumb a {
  text-decoration: none;
  outline: none;
  display: block;
  float: left;
  font-size: 20px;
  line-height: 36px;
  color: white;
  padding: 0 10px 0 60px;
  background: #666;
  background: linear-gradient(#666, #333);
  position: relative;
}

.breadcrumb a:first-child {
  padding-left: 46px;
  border-radius: 5px 0 0 5px;
}

.breadcrumb a:first-child:before {
  left: 14px;

}

.breadcrumb a:last-child {
  border-radius: 0 5px 5px 0;
  padding-right: 20px;
}

.breadcrumb a.active,
.breadcrumb a:hover {
  background: #333;
  background: linear-gradient(#333, #000);
}

.breadcrumb a.active:after,
.breadcrumb a:hover:after {
  background: #333;
  background: linear-gradient(135deg, #333, #000);
}

.breadcrumb a:after {
  content: '';
  position: absolute;
  top: 0;
  right: -18px;
  width: 36px;
  height: 36px;
  transform: scale(0.707) rotate(45deg);
  z-index: 1;
  background: #666;
  background: linear-gradient(135deg, #666, #333);
  box-shadow:
    2px -2px 0 2px rgba(0, 0, 0, 0.4),
    3px -3px 0 2px rgba(255, 255, 255, 0.1);
  border-radius: 0 5px 0 50px;
}

.breadcrumb a:last-child:after {
  content: none;
}

.breadcrumb a:before {
  content: counter(flag);
  counter-increment: flag;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  line-height: 20px;
  margin: 8px 0;
  position: absolute;
  top: 0;
  left: 30px;
  background: #444;
  background: linear-gradient(#444, #222);
  font-weight: bold;
}

.flat a,
.flat a:after {
  background: white;
  color: black;
  transition: all 0.5s;
}

.flat a:before {
  background: white;
  box-shadow: 0 0 0 1px #ccc;
}

.flat a:hover,
.flat a.active,
.flat a:hover:after,
.flat a.active:after {
  background: #4fbfa8;
}

.img-small {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  margin-left: -0.3em;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.example-full-width-search {
  width: 100%;
}

.example-form-search {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}
