<footer class=" main-footer">
  <div class="container">
    <div class="row bar">
      <div class="col-sm-4">
        <h3>About Us</h3>
        <p>We come from DTL.BU13. Say oh yeahhhh!</p>
        <hr>
      </div>
      <div class="col-sm-4">
        <h3>Developers</h3>
        <ul class="list-unstyled footer-blog-list">
          <li class="d-flex align-items-center">
            <div class="image"><img src="assets/img/sangtt4.jpg" class="img-fluid"></div>
            <div class="text">
              <h5 class="mb-0">Tran Tuan Sang</h5>
            </div>
          </li>
          <li class="d-flex align-items-center">
            <div class="image"><img src="assets/img/trungtk2.jpg" class="img-fluid"></div>
            <div class="text">
              <h5 class="mb-0">Tran Khac Trung</h5>
            </div>
          </li>
          <li class="d-flex align-items-center">
            <div class="image"><img src="assets/img/haotc2.jpg" class="img-fluid"></div>
            <div class="text">
              <h5 class="mb-0">Ta Chi Hao</h5>
            </div>
          </li>
          <li class="d-flex align-items-center">
            <div class="image"><img src="assets/img/anhlt57.jpg" class="img-fluid"></div>
            <div class="text">
              <h5 class="mb-0">Luong Tuan Anh</h5>
            </div>
          </li>
        </ul>
        <hr class="d-block d-lg-none">
      </div>
      <div class="col-sm-4">
        <h3>Contact</h3>
        <p class="text-uppercase">TOPGUN FPT SOFTWARE<br>
          D1 Street, SaiGon High Tech Park
          <br>Tan Phu Ward, 9 District, Ho Chi Minh </p>
        <hr class="d-block d-lg-none">
        <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.477635953822!2d106.79928855266041!3d10.851229811810997!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317527374c43baad%3A0xb8b244d75d12213e!2zRlBUIFNvZnR3YXJlIEjhu5MgQ2jDrSBNaW5o!5e0!3m2!1svi!2s!4v1543984641402"
          width="350" height="180" frameborder="0" style="border:0" allowfullscreen></iframe> -->
      </div>
    </div>
  </div>
  <div class="copyrights">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 text-center-md">
          <p>© 2018. FPT SOFTWARE </p>
        </div>
        <div class="col-lg-8 text-right text-center-md">
          <p>Template design by <a href="https://www.google.com/">TEAM 2</a></p>
        </div>
      </div>
    </div>
  </div>
</footer>
